<mat-toolbar color="primary" class="expanded-toolbar app-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with highlight icon">
    <mat-icon>highlight</mat-icon>
  </button>
  <span>My Tasks to do ?</span>
  <span class="example-spacer"></span>
  <button *ngIf="taskToAdd" mat-icon-button class="example-icon brightness_1-icon green-color" aria-label="Example icon-button with brightness_1 icon" style="transform: scale(1.5)">
    <mat-icon  (click)="add()" >add</mat-icon>
  </button>
</mat-toolbar>
<div class="container app-task" fxLayout="column" fxLayoutAlign="none none" style="background-color: rgb(60, 60, 60);">
    <mat-form-field class="form-element">
      <mat-label>{{'What you have to do ?'}}</mat-label>
      <input matInput [placeholder]="'What you have to do ?'"  class="mat-input-element txt-wihte" type="text" [(ngModel)]="taskToAdd">
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>{{'Finish it at ?'}}</mat-label>
      <input matInput [matDatepicker]="picker" [placeholder]="'Finish it at ?'"   class="mat-input-element txt-wihte" [(ngModel)]="finishAt" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle >
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<section class="">
  <mat-selection-list #shoes class="responsive-item" *ngIf="allMyTask && allMyTask.length > 0">
    <mat-list-option (click)="toggleDone(task.id)" [selected]="task.done === true" *ngFor="let task of allMyTask" class="">
      <div fxFlex="row" fxFlexAlign="center center" fxLayoutGap="5px" style="margin-left: 5px; padding-top: 2px; padding-left: 5px">
        <div fxFlex="column" fxFlexAlign="center center" fxLayoutGap="5px" >
          <small>{{task.name}}</small>
          <div *ngIf="task.finishAt"> <small style="opacity: .7">End At {{task.finishAt | date:'dd-MM-yyyy'}}</small></div>
        </div>
        <a *ngIf="task.done === true" mat-icon-button color="warn" class="close" aria-label="Example icon-button with a heart icon" (click)="openDialog(task)">
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </mat-list-option>
  </mat-selection-list>
</section>
